/* =========================
   LIGHT MODE
========================= */
:root {
  --primaria: #4da8ff;
  --secundaria: #0077cc;
  --escuro: #005f99;

  --claro: #818080;
  --texto: #fefefe;

  --fundo-card: rgba(103, 98, 98, 0.951);
  --fundo-header: rgba(14, 249, 46, 0.734);
  --fundo-form: #ffffff;

  --sombra: 0 8px 30px rgb(255, 255, 255);

  --radius: 20px;
}

/* =========================
   DARK MODE
========================= */

@media (prefers-color-scheme: dark) {
  :root {
    --primaria: #1c7ac8;
    --secundaria: #008fe1;
    --escuro: #19bfe1;

    --claro: #ffffff;
    --texto: #ffffff;

    --fundo-card: rgba(1, 0, 0, 0.9);
    --fundo-header: rgba(0, 0, 0, 0.9);
    --fundo-form: #000000;

    --sombra: 0 8px 30px rgba(0, 0, 0, 0.5);
    --radius: 20px;
  }
}

/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}
/* =========================
   BODY
========================= */
.um {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  background: linear-gradient(rgba(16, 0, 0, 0.85), rgba(135, 137, 138, 0.91)), url("../img/bjv.png");
  background-size: 2500px;
  text-align: center;
}
header {
  width: 100%;
}

h1 {
  margin-top: 600px;
  padding: 12px;
  text-align: center;
}

.sistemanavegacao {
  background-color: var(--claro);
  width: 100%;

  display: flex;
  justify-content: space-evenly;

  & a {
    color: var(--texto);
    text-decoration: none;
    padding: 11px;
    background-color: #0098e3;
    border-radius: 20px;
    border: solid;
    border-color: rgb(237, 237, 237);
    border-width: 5px;
  }
  & a:hover {
    transform: scale(1.3);
  }
}

footer {
  width: 100%;
  background: var(--primaria);

  color: white;

  text-align: center;

  padding: 30px;

  display: flex;

  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 260px;
}
.Textos{
color: #fefefe;
}
.Frasedeefeito-logo{
flex-grow: 1;
display: flex;
justify-content: center;
align-items: flex-end;
padding-bottom: 40px;

}
.dois{
background: linear-gradient(rgba(16, 0, 0, 0.85), rgba(135, 137, 138, 0.91)), url("../img/bjv.png");
  background-size: 2500px;
  text-align: center;
}
.tres{
background: linear-gradient(rgba(16, 0, 0, 0.85), rgba(135, 137, 138, 0.91)), url("../img/bjv.png");
  background-size: 2500px;
  text-align: center;
}
.Quatro{
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  background: linear-gradient(rgba(2, 254, 149, 0.85), rgba(135, 137, 138, 0.91))
}
.quadradoum{
background-color: darkgreen;
padding: 1px;
margin: 120px;
border-radius: 20px;
justify-content: center;
text-align: center;
}
.quadradodois{
background-color: rgb(255, 213, 0);
padding: 1px;
margin: 120px;
border-radius: 20px;
justify-content: center;
text-align: center;
}

.quadradotres{
background-color: rgb(13, 0, 255);
padding: 1px;
margin: 120px;
border-radius: 20px;
justify-content: center;
text-align: center;
}

.center{
text-align: center;
}

.sistemabotao{
background-color: #005f99;
text-align: center;
}

a{
    color: var(--texto);
    text-decoration: none;
    padding: 1px;
    background-color: #0098e3;
    border-radius: 9px;
    border: solid;
    border-color: rgb(237, 237, 237);
    border-width: 3px;
    text-align: center;
  }
  a:hover {
    transform: scale(1.3);
}
.barra{
  display: flex;
  width: 100%;
  max-width: 500px; 
  margin: 0 auto; 
  border-radius: 120px;
}
.ajudaxtm{
text-decoration: none;
border-width: 1px;
padding: 1px none;
width: 3px;
}
.Fraselogo{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #ffffff;
}